#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}
h2 {
  margin-bottom: 20px;
}

.movies-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin: 0 auto;
  max-width: 1100px;
  margin-top: 20px;
}

.sort-container button {
  margin-left: 14px;
  border: 1px solid rgba(211, 211, 211, 0.445);
}

.sort-container button:last-child {
  margin-right: 0px;
}

input {
  margin-bottom: 15px;
  font-size: 16px;
  width: 190px;
  padding: 10px 20px;
}
